@font-face {
    font-family: "Figtree";
    src: url(./blog-preview-card-main/assets/fonts/static/Figtree-ExtraBold.ttf);
    font-weight: bolder;
    
}

@font-face {
    font-family: "Figtree-medium";
    src: url(./blog-preview-card-main/assets/fonts/static/Figtree-Medium.ttf);
}



:root {
    --color-yellow: #f4d04e;
    --color-white: #ffff;
    --color-text-body: #6b6b6b;
    --color-text-heading: #111111;
    --font-size-body: 14px ;
 }
 
*,
*::before,
*::after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
} 

body{
    background-color: var(--color-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.blog__card{
    margin: 5% 0;
    width: 335px;
    background-color: var(--color-white);
    padding: 24px;
    border-radius: 20px;
    border-style: solid;
    border-color: black ;
    box-shadow: 8px 8px 0px 0px black;

}

.blog__image{
border-radius: 10px;
}

.blog__details {
    padding: 24px 0;
}

.blog__purpose{
    color: var(--color-text-heading);
    background-color: #f4d04e;
    font-family: "figtree";
    font-size: 12px;
    margin-bottom: 12px;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;
}

.blog__date {
    margin-bottom: 12px;
    font-family: "figtree-medium";
    font-size: 12px;
}

.blog__heading {
    color: var(--color-text-heading);
    font-family: "figtree";
    margin-bottom: 12px;
}

h3:hover {
    color: var(--color-yellow);
}


.blog__user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog__user__avatar {
    width: 32px;
    height: 32px;
}

.blog__user__text {
    color: var(--color-text-heading);
    font-family: "figtree-medium";
    font-weight: bold;
    font-size: 14px;
}

.blog__description {
    font-family: "figtree-medium";
    color: var(--color-text-body);
    font-weight: 500;
    font-size: 14px;
}
