@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --color-grey--900: #141414;
    --color-grey--800: #1f1f1f;
    --color-grey--700: #333333;
    --color-green: #c4f82a;
    --color-white: #ffff;
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;    
}

*,
*::before,
*::after {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-grey--900);
}
.profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey--800);
    padding: var(--spacing-500);
    border-radius: var(--spacing-150);    
}
.profile__pic {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-bottom: var(--spacing-300);
}
.profile__name {
    font-family: "Inter", sans-serif;
    color: var(--color-white);
    font-size: var(--spacing-300);
    margin-bottom: var(--spacing-50);

}

.profile__location {
    font-family: "Inter", sans-serif;
    color: var(--color-green);
    margin-bottom: var(--spacing-300);

}

.profile__discription {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-white);
    margin-bottom: var(--spacing-300);
    padding: 0 var(--spacing-500);

}

.profile__links__container__button {
    text-align: center;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-grey--700);
    padding: var(--spacing-150) var(--spacing-300);
    margin-bottom: var(--spacing-200);
    width: 100%;
    border-radius: var(--spacing-100);

}